/*
*   FileUpload
*/
    .dropzone {
        border: 2px dashed #0087F7;
        border-radius: 5px;
        background: white;
    }

    .dropzone .dz-message {
        font-weight: 400;
    }

    .dropzone .dz-message .note {
        font-size: 0.8em;
        font-weight: 200;
        display: block;
        margin-top: 1.4rem;
    }

    .dropzone .dz-preview.dz-file-preview .dz-image {
        border-radius: 20px;
        background: #556970;
    }

    .dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
        color: #000;
        font-weight: bold;
    }

    .dropzone .dz-preview .dz-error-message {
        top: 49px;
        width: auto;
        height: 65px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    /*.dropzone .dz-preview.bradesco .dz-image {
        background-image: url(../../images/icons/file-ofx.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center center;
    }

    .dropzone .dz-preview.csv .dz-image {
        background-image: url(../../images/icons/file-csv.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center center;
    }*/

    .dropzone .dz-preview .dz-success-mark {
        margin-top: -2px;
    }

    .dropzone .dz-preview .dz-error-mark {
        margin-top: -13px;
    }

    .dropzone .dz-preview .dz-progress .dz-upload {
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #9dc8e2, #9dc8e2) repeat
    }

/*
*   Banks
*/
            .cc-selector input {
        position: absolute;
        z-index: 999;
        visibility: hidden;
    }

    .cc-selector .csv {
        background-image: url(../../images/icons/import_csv.png);
    }

    .cc-selector .bradesco {
        background-image: url(../../images/icons/import_bradesco.png);
    }

    .cc-selector input:active + .drinkcard-cc, .cc-selector input:active + .drinkcard-cc {
        opacity: .9;
    }

    .cc-selector input:checked + .drinkcard-cc, .cc-selector input:checked + .drinkcard-cc {
        -webkit-filter: none;
        -moz-filter: none;
        filter: none;
    }

    .drinkcard-cc {
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 100px;
        height: 70px;
        -webkit-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
        -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
        -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
        filter: brightness(0.8) grayscale(1) opacity(.7);
    }

    .cc-selector input {
        margin: 5px 0 0 12px;
    }

/*
*   Steps
*/

.wizard > .steps > ul > li {
    width: 33%;
}

/*
*   Preview
*/

.handsontable td .htAutocompleteArrow {
    color: black;
}

#table-statement {
    background: red none repeat scroll 0 0;
    height: 100%;
    width: 100%;
}

#table-statement table > tbody > tr:nth-child(2n) > td {
    background: #f7f3f1;
}

#table-statement table > tbody > tr:nth-child(2n+1) > td {
    background: #fff;
}

#table-statement .transaction-status  {
    width: 20px;
}

#table-statement .transaction-status .message {
    position: absolute;
    z-index: 1000;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 13px;
    width: 300px;
    line-height: initial;
    white-space: normal;
}

#table-statement .transaction-status .message ul {
    margin: 0;
}

#table-statement .transaction-status .message.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}

#table-statement .transaction-status .message.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #C94442;
}

#table-statement .transaction-status .message.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #8a6d3b;
}

#table-statement .transaction-status .message.automatic-resolved {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #31708f;
}

#table-statement .transaction-status .icon.success {
    color: #3c763d;
}

#table-statement .transaction-status .icon.error {
    color: #a94442;
}

#table-statement .transaction-status .icon.warning {
    color: #8a6d3b;
}

#table-statement .transaction-status .icon.automatic-resolved {
    color: #31708f;
}

#table-statement .icon {
    margin-left: 7px;
    margin-top: 4px;
}

#table-statement .icon.remove:hover {
    color: red;
}