<div id="table-statement">
    <div id="table"></div>

    <ul class="actions">
        <li>
            <button type="button" class="btn btn-primary btn-lg continue" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Concluir">Concluir</button>
            <button type="button" class="btn btn-primary btn-lg cancel" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Cancelar">Cancelar</button>
        </li>
    </ul>
</div>