<div id="dropzone" class="dropzone needsclick dz-clickable" action="/upload">
    <div class="dz-message needsclick">
        Arraste os arquivos de extratos nesta área <br />
        <span class="note needsclick">(ou clique aqui para localiza-los)</span>
    </div>
</div>