<div>
    <p>Clique em um dos ícones abaixo para selecionar o formato que será importado.</p>
    <br />
</div>

<div class="cc-selector">
    <input id="csv" type="radio" name="importFormat" value="csv" />
    <label class="drinkcard-cc csv" for="csv"></label>

    <input id="bradesco" type="radio" name="importFormat" value="bradesco" />
    <label class="drinkcard-cc bradesco" for="bradesco"></label>
    
    <ul class="actions">
        <li>
            <button type="button" class="btn btn-primary btn-lg continue">Selecionar</button>
        </li>
    </ul>
</div>
