<div id="table-statement">
    <div class="controls">
        <button name="load" id="load" class="intext-btn">Load</button>
        <button name="save" id="save" class="intext-btn">Save</button>
        <label><input type="checkbox" name="autosave" id="autosave" checked="checked" autocomplete="off">Autosave</label>
    </div>
    <pre id="example1console" class="console">Click "Load" to load data from server</pre>
    <div id="hot" class="hot"></div>
</div>