@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "Dashboards";
}
<div id="title-and-buttons">
    <h2>@ViewBag.Title</h2>
    <a href="#form-new-dashboard-wrapper" class="btn btn2 no-action">+ Dashboard</a>
</div>

<div id="box-container">
    
</div>

<div class="clearfix"></div>

@section Scripts {
    @*@Scripts.Render("~/bundles/Custom/Dashboards")*@
    <script src="~/js/Custom/Dashboards.js"></script>
    <script src="~/js/Custom/Helper.js"></script>
}